*{
    margin: 0;
    padding: 0;
}
.header
{
    height: 70vh;
}
.navbar-style
{
    width: 100%;
    height: 70px;
    padding: 10px 0;
    background-color: #0076CE;
    border: 1px solid #0076CE;
 
}
.logo
{
    height: 50px;
    padding: 0px 10px;
}
.nav>li>a {
    color: #ffffff;
}
.nav.navitdp>li>a:focus, .nav.navitdp>li>a:hover {
    text-decoration: underline;
    background-color: #0076CE;
}


.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

  
  

